.dashboard {
    width: 20%;
    float: left;
    padding: 10px;
    border-right: 1px solid #ccc;
    background-color: #2c2f33;
    color: white;

}

.dashboard h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.dashboard-nav {
    margin-top: 10px;
}

.dashboard-link {
    display: block;
    color: white;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 16px;
}

.dashboard-link:hover {
    text-decoration: underline;
    color: #61dafb;
}